.btn {
   background-color: var(--accent);
   color: white;
   border: none;
   width: 100%;
   padding: 0.5rem;
   border-radius: var(--radius-lg);
   font-weight: 600;
   font-size: 0.9rem;
   text-align: center;
   cursor: pointer;
   box-shadow: 0 4px 12px rgba(10, 132, 255, 0.15);
}

.btn:active {
   transform: scale(0.98);
}
